.social{
    display: flex;
    



   
  
   
  
    .containerSocial {
        flex: 8;
        // padding: 10px;
        position: sticky;
        top: 70;
        height: calc(100vh - 70px);
        overflow-y: auto;
       
      flex-direction: column;

      
  &::-webkit-scrollbar {
    display: none;
  }

  .title {
    font-size: 30px;
    color: inherit;
    
  }
    }

  }