.sidebarUser {
  // flex: 1;
  width: 180px;

  min-height: 100vh;
  color: inherit;
  background: inherit;

  .containerUser {
    position: sticky;
    top: 0;

    .topUser {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-bottom: 0.5px solid rgb(231, 228, 228);

      .logo {
        font-size: 20px;
        font-weight: bold;
        color: #6439ff;
      }
    }

    .center {
      padding: 10px;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        .title {
          font-size: 10px;
          font-weight: bold;

          margin-top: 15px;
          margin-bottom: 5px;
        }
        li {
          display: flex;
          align-items: center;
          padding: 5px;
          cursor: pointer;

          &:hover {
            background-color: inherit;
          }

          .icon {
            font-size: 18px;
            color: #7451f8;
          }

          span {
            font-size: 14px;
            font-weight: 600;
            color: #888;
            margin-left: 10px;
          }
        }
      }
    }

    .bottomSidebarUser {
      display: flex;
      align-items: center;
      border: 1px solid #7451f8;
      width: 40px;
  
      .colorOptionSidebarUser {
        height: 20px;
        width: 20px;
        cursor: pointer;
        &:nth-child(1) {
          background-color: white;
        }
        &:nth-child(2) {
          background-color: black;
        }
      }
    }
  }
}
