.login {
  height: 95vh;
  background-color: #dddd;
  display: flex;
  align-items: center;
  justify-content: center;
  .card {
   width:60%;
    display: flex;
    background-color: white;
    border-radius: 10px;
    min-height: 600px;
    overflow: hidden;
    .left {
      flex: 1;
      background: linear-gradient(rgba(14, 11, 11, 0.7),rgb(15, 15, 15, 0.5)), url("/images/login-left.jpg") center ;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;
      justify-content: center;
      
      h1 {
        font-size: 80px;
        line-height: 100px;
      }
      p {
      }
      span {
        font-size: 14px;
      }
      button {
        width: 50%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: white;
        color: purple;
        font-weight: bold;
        cursor:pointer;
      }
    }

    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;
      
      h1 {
        color: rgb(100, 100, 100);
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
      input {
        border: none;
        border-bottom: 1px solid lightgray;
        padding: 20px 10px;

      }

      button {
        width: 50%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: rgb(178, 174, 184);
        color: purple;
        font-weight: bold;
        cursor:pointer;
      }
    }
  }
}
