.rightBar {
  flex: 3;

  // max-height: 100vh; // Або потрібну висоту
  overflow-y: auto; // Дозволяє прокручування

  // margin-bottom: 50px;

  &::-webkit-scrollbar {
    display: none;
  }

  .containerRightBar {
    margin-left: 10px;
    // padding: 10px;
    position: sticky;
    top: 70;
    height: calc(100vh - 70px);
    overflow-y: auto;

    flex-direction: column;
    &::-webkit-scrollbar {
      display: none;
    }

    .chatName {
      font-size: 20px;
      color: inherit;
    }

    .blockMessage {
      position: relative;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);    
      border-radius: 10px;
      padding: 5px;
      margin: 10px 0px 0px 10px;
      color: inherit;

      

      &::before {
        content: "";
        position: absolute;
        left: -10px; // Змінено значення left
        top: 10px; // Змінено значення top
        border-width: 10px 10px 10px 0; // Змінено значення border-width
        border-style: solid;
       
      }

      &::after {
        content: "";
        position: absolute;
        left: -9px; // Змінено значення left
        top: 11px; // Змінено значення top
        border-width: 9px 9px 9px 0; // Змінено значення border-width
        border-style: solid;
        
      }

      .replyTag {
        font-size: 10px;
        background-color: #fcd6fc;
      }

      .msg-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .msg-data {
          font-size: 10px;
          color: #999;
        }

        button {
          font-size: 8px;
          color: inherit;
          background: inherit;
          border: solid 1px;
        }
      }
    }

    .chatAddText {
      display: flex;
      flex-direction: column;
      .chatTextArea {
        width: 245px;
        height: 30px;
        min-width: 245px;
        min-height: 20px;
        max-width: 245px;
        max-height: 80px;
        overflow: auto; /* Вмикає скролінг, якщо вміст перевищує розміри */
        color: inherit;
        background: inherit;

        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        border: 1px solid #777;
        border-radius: 5px;

        padding: 2px;
        margin: 10px 0px 10px 10px;
        color: #777;
      }
      button {
        margin: 0px 0px 10px 10px;
        color: inherit;
        background: inherit;
        border: solid 1px #999;
      }
    }
  }
}
