.projectDetails {
  padding: 0px;
  position: relative;
  z-index: 0;
  overflow: visible;
  color: inherit;
  background: inherit;
  .projectContainer {
    position: relative; /* Замість sticky */
    height: calc(100vh - 70px);
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }

    .topProjectDetails {
      padding: 20px;
      display: flex;
      gap: 10px;

      .leftProjectDetails {
        display: flex;
        flex: 1;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;
        align-items: flex-start;
      
        .itemImgProject {
          margin-right: 20px;
          display: flex;
          flex-direction: column;
      
          .title {
            font-size: 12px;
            align-self: flex-start;
          }
      
          .itemImg {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
      
        .itemProject {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          gap: 20px;
          align-self: flex-end;
          padding-left: 20px;
          .editProjectDetails {
           
            padding-left: 20px;
            font-size: 16px;
            color: #9988d8;
            background-color: #817d8f18;
            cursor: pointer;
            border-radius: 0px 0px 0px 5px;
           
          }
      
          .details {
            display: flex;
            flex-direction: column;
            width: 100%;
      
            .itemTitle {
              width: 150px;
              margin-bottom: 10px;
             
              word-wrap: break-word;
              overflow-wrap: break-word;
            }
      
            .detailItem {
              display: flex;
              flex-direction: column;
              margin-bottom: 10px;
              font-size: 14px;
      
              .itemKey {
                font-weight: bold;
                color: gray;
                margin: 5px 5px 0px 0px;
              }
      
              .itemValue {
                font-weight: 300;
              }
            }
          }
        }
      }

      .right {
        flex: 2;
        position: relative;

        .title {
          font-size: 12px;
          color: gray;
          margin-bottom: 20px;
        }
      }
    }

    .bottom {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      margin: 10px 20px;
    }

    .title {
      font-size: 12px;
      color: gray;
      margin-bottom: 20px;
    }
  }
}
