.projectDatatable {
  height: 600px;
  padding: 20px;
  .projectTitle {
    font-size: 20px;
    color: #555;
  }

  .datatableTitle {
    width: 100%;
    font-size: 24px;
    color: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link {
      text-decoration: none;
      color: green;
      font-size: 16px;
      font-weight: 400;
      border: 1px solid green;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .cellWithImg {
    display: flex;
    align-items: center;

    .cellImg {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 20px;
    }
  }

  .cellWithStatus {
    padding: 5px;
    border-radius: 5px;

    &.active {
      background-color: rgba(0, 128, 0, 0.05);
      color: green;
    }
    &.pending {
      background-color: rgba(255, 217, 0, 0.05);
      color: goldenrod;
    }
    &.passive {
      background-color: rgba(255, 0, 0, 0.05);
      color: crimson;
    }
  }

  .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;

    .viewButton,
    .deleteButton {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px; /* Однакова висота */
      padding: 5px 10px; /* Відступи */
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px; /* Однаковий розмір шрифту */
    }

    .view-Button, .deleteButton {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px; /* Однакова висота */
      padding: 5px 10px; /* Відступи */
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px; /* Однаковий розмір шрифту */
    }
  
    .view-Button {
      color: rgb(79, 79, 133);
      border: 1px dotted rgba(0, 0, 139, 0.6);
      outline: none;
      border: none; /* Видалення межі кнопки, якщо є */
    }
  
    .deleteButton {
      color: rgb(177, 91, 91);
      border: 1px dotted rgba(220, 20, 60, 0.6);
      background: inherit;
      transition: background-color 0.3s ease, color 0.3s ease;
    }

    .deleteButton:hover {
      background-color: rgb(179, 54, 54);;
      color: white;
  }
  }
}
