.messenger{

  
    .containerMessenger{
      
       
        display: flex;
        .messengerConversation {
            flex: 2;
           
            
          }
          
          .messengerMessage {
            flex: 5;
           
           
          }
        
    }
}