.userHome {
  display: flex;
  // padding: 10px;

  color: inherit;
  background: inherit;

  .containerUserHome {
    flex: 8;

    position: sticky;

    height: calc(100vh - 70px);
    overflow-y: auto;

    .title {
      font-size: 30px;
      color: inherit;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .top {
      display: flex;
      margin: 20px 20px 50px 0px;
   
      gap: 20px;

      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

      span {
        font-size: 20px;
        color: inherit;
      }
      .topCalendar {
      }
      .topKanban {
        cursor: pointer;
      }
      .topDiscussions {
      }
      .topFiles {
      }
    }

    .project {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      margin: 20px 20px 20px 0px;
      padding-left: 20px;

      
      .projectbord {
        display: flex;
        align-items: center;
        .projectTitle {
          font-size: 20px;
          color: inherit;
        }
        .projectInfo {
          margin-left: auto;
          .projectStatus {
            padding: 5px;
            color: inherit;
          }
          .projectEndDate {
            padding: 5px;
            align-items: flex-end;
            color: inherit;
          }
        }
      }
    }
    .taskbord {
      display: flex;
      flex-wrap: wrap; /* Дозволяє завданням переноситися на новий рядок */
      gap: 20px; /* Відступи між завданнями */
      width: 100%; /* Ширина контейнера */

      .task {
        flex: 0 1 180px; /* Фіксована ширина завдань */
     
        display: flex;
        flex-direction: column;
        
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        margin: 10px 0; /* Відступ між завданнями по вертикалі */
        padding: 20px;

        .topTaskTitle {
          display: flex;
          .taskTitle {
            width: 150px;
            font-size: 20px;
            color: #777;
            padding: 5px;
          }
          .stateTask {
            height: 15px;
            width: 15px;
            border-radius: 50%;
            border: 1px solid #555;
            &.closeToEnd {
              border: 1px solid blue;
              background-color: blue; /* Light blue background   */
            }

            &.endPassedInProgress {
              border: 1px solid red;
              background-color: red; /* Light red background */
            }

            &.progress {
              border: 1px solid green;
              background-color: green; /* Light red background */
            }
          }
        }

        .taskDesc {
          font-size: 12px;
          color: #777;
        }

        .usersImg {
          padding-top: 20px;
          margin-top: auto; /* Позиціонування донизу */
          align-self: flex-start;
          img {
            width: 40px;
            height: 40px;
            margin-right: 10px;
            object-fit: cover;
            border-radius: 50%;
          }
        }
        .taskInfo {
          display: flex;
          flex-direction: column;
          .taskStatus {
            align-self: flex-end; /* Вирівнювання по правому краю */
            &.Виконується {
              color: rgb(6, 158, 6);
              background-color: rgba(189, 189, 3, 0.103);
            }
            &.Завершено {
              color: goldenrod;
              background-color: rgba(189, 189, 3, 0.103);
            }
            &.Нове {
              color: rgb(218, 54, 32);
              background-color: rgba(189, 189, 3, 0.103);
            }
          }
          .taskEndDate {
            align-self: flex-end; /* Вирівнювання по правому краю */
            &.closeToEnd {
              background-color: rgba(189, 189, 3, 0.103);
              color: blue; /* Red text color */
              font-weight: bold;
            }

            &.endPassedInProgress {
              background-color: rgba(189, 189, 3, 0.103);
              color: red; /* Blue text color */
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
