.App {
    height: 100vh;
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.projects-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    min-width: 400px;
}

.projects-table th, .projects-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

.projects-table th {
    background-color: #f4f4f4;
    color: #333;
}

.projects-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.projects-table tbody tr:nth-of-type(odd) {
    background-color: #fff;
}

.delete {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    background-color: red;
    margin-right: 5px;
}

.update {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    background-color: blue;
    text-decoration: none;
}

button {
    border: none;
    padding: 10px;
    background-color: rgb(196, 158, 144);
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

button a {
    color: white;
    text-decoration: none;
}
