.sidebarAdmin {
  // flex: 1;
  width: 180px;
  min-height: 100vh;

 
 
  .containerAdmin {
    position: sticky;
    top: 0;
    background-color: white;
    
    .topAdmin {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-bottom: 0.5px solid rgb(231, 228, 228);

      .logoAdmin {
        font-size: 20px;
        font-weight: bold;
        color: #6439ff;
      }
    }

    .center {
      padding: 10px;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        .title {
          font-size: 10px;
          font-weight: bold;
          color: #999;
          margin-top: 15px;
          margin-bottom: 5px;
        }
        li {
          display: flex;
          align-items: center;
          padding: 5px;
          cursor: pointer;

          &:hover {
            background-color: hsl(240, 9%, 94%);
          }

          .icon {
            font-size: 18px;
            color: #7451f8;
          }

          span {
            font-size: 14px;
            font-weight: 600;
            color: #888;
            margin-left: 10px;
          }
        }
      }
    }

    .bottomAdmin {
      display: flex;
      align-items: center;
      margin: 10px;
      .colorOption {
        height: 20px;
        width: 20px;
        border-radius: 5px;
        border: 1px solid #7451f8;
        cursor: pointer;
        margin: 5px;

        &:nth-child(1) {
          background-color: whitesmoke;
        }

        &:nth-child(2) {
          background-color: #333;
        }
      }
    }
  }
}
